<h1 class="mainTitle">Расходы</h1>

<div class="operations" id="categoriesList">
    <!-- карточки категорий -->
</div>

<div class="createOperation">
    <label class="newOperationName">
        <input type="text" placeholder="Название..." id="newIncomeName" class="regularInt">
    </label>
    <span class="validation-hint" id="createError"></span>

    <div>
        <button class="greenBtn" id="confirmCreate">Создать</button>
        <button class="redBtn" id="cancelCreate">Отмена</button>
    </div>
</div>
<div class="editOperation">
    <label class="newOperationName">
        <input type="text" id="editIncomeName" class="regularInt">
    </label>
    <span class="validation-hint" id="editError"></span>

    <div>
        <button class="greenBtn" id="confirmEdit">Сохранить</button>
        <button class="redBtn cancelEdit">Отмена</button>
    </div>
</div>

<div class="popup-overlay">
    <div class="incomePopup">
        <h3>Вы действительно хотите удалить категорию?</h3>
        <div>
            <button class="greenBtn confirmDelete">Да, удалить</button>
            <button class="redBtn cancelDelete">Не удалять</button>
        </div>
    </div>
</div>