<h1 class="mainTitle">Доходы</h1>

<div class="operations">
    <figure class="income-card">
        <h2>Депозиты</h2>
        <div>
            <button class="blueBtn">Редактировать</button>
            <button class="redBtn deleteOperation">Удалить</button>
        </div>
    </figure>
    <figure class="income-card">
        <h2>Зарплата</h2>
        <div>
            <button class="blueBtn">Редактировать</button>
            <button class="redBtn deleteOperation">Удалить</button>
        </div>
    </figure>
    <figure class="income-card">
        <h2>Сбережения</h2>
        <div>
            <button class="blueBtn">Редактировать</button>
            <button class="redBtn deleteOperation">Удалить</button>
        </div>
    </figure>
    <figure class="income-card">
        <h2>Инвестиции</h2>
        <div>
            <button class="blueBtn">Редактировать</button>
            <button class="redBtn deleteOperation">Удалить</button>
        </div>
    </figure>
    <figure class="income-card empty-income-card ">
        <button class="addOperation">+</button>
    </figure>
</div>

<div class="createOperation">
    <label class="newOperationName">
        <input type="text" placeholder="Название..." id="newIncomeName" class="regularInt">
    </label>

    <div>
        <button class="greenBtn">Создать</button>
        <button class="redBtn">Отмена</button>
    </div>
</div>
<div class="editOperation">
    <label class="newOperationName">
        <input type="text" id="editIncomeName" class="regularInt">
    </label>

    <div>
        <button class="greenBtn">Сохранить</button>
        <button class="redBtn cancelEdit">Отмена</button>
    </div>
</div>

<div class="popup-overlay">
    <div class="incomePopup">
        <h3>Вы действительно хотите удалить категорию? <p></p> Связанные доходы останутся без категории.</h3>
        <div>
            <button class="greenBtn confirmDelete">Да, удалить</button>
            <button class="redBtn cancelDelete">Не удалять</button>
        </div>
    </div>
</div>
