<h1 class="mainTitle">Главная</h1>
<div class="mainInfo-filtersStroke">
    <ul class="mainInfo-filters">
        <li class="mainInfo-filter mainInfo-filter-active" data-period="today">Сегодня</li>
        <li class="mainInfo-filter" data-period="week">Неделя</li>
        <li class="mainInfo-filter" data-period="month">Месяц</li>
        <li class="mainInfo-filter" data-period="year">Год</li>
        <li class="mainInfo-filter" data-period="all">Все</li>
        <li class="mainInfo-filter" data-period="interval">Интервал</li>
    </ul>
    <div class="dateFilters">
        <label for="startDate">с</label>
        <input type="date" class="dateFilter" id="startDate" disabled>
        <label for="endDate">по</label>
        <input type="date" class="dateFilter" id="endDate" disabled>
    </div>
</div>
<div class="statistic">
    <div class="income">
        <canvas id="incomeChart"></canvas>
    </div>
    <div class="midline"></div>
    <div class="expense">
        <canvas id="expenseChart"></canvas>
    </div>
</div>