<h1 class="mainTitle">Главная</h1>
<div class="mainInfo-filtersStroke">
    <ul class="mainInfo-filters">
        <li class="mainInfo-filter mainInfo-filter-active">Сегодня</li>
        <li class="mainInfo-filter">Неделя</li>
        <li class="mainInfo-filter">Месяц</li>
        <li class="mainInfo-filter">Год</li>
        <li class="mainInfo-filter">Все</li>
        <li class="mainInfo-filter">Интервал</li>
    </ul>
    <div class="dateFilters">
        <label for="startDate">с</label>
        <input type="text" placeholder="Дата" class="dateFilter" id="startDate">
        <label for="endDate">по</label>
        <input type="text" placeholder="Дата" class="dateFilter" id="endDate">
    </div>
</div>
<div class="statistic">
    <div class="income">
        <img src="/images/incomePie.png" alt="incomePie">
    </div>
    <div class="midline"></div>
    <div class="expense">
        <img src="/images/expensePie.png" alt="expensePie">
    </div>
</div>