<h1 class="mainTitle">Доходы и расходы</h1>
<div class="newTurnover">
    <button id="newIncome" class="greenBtn">Создать доход</button>
    <button id="newExpense" class="redBtn">Создать расход</button>
</div>
<div class="mainInfo-filtersStroke">
    <ul class="mainInfo-filters">
        <li class="mainInfo-filter mainInfo-filter-active" data-period="today">Сегодня</li>
        <li class="mainInfo-filter" data-period="week">Неделя</li>
        <li class="mainInfo-filter" data-period="month">Месяц</li>
        <li class="mainInfo-filter" data-period="year">Год</li>
        <li class="mainInfo-filter" data-period="all">Все</li>
        <li class="mainInfo-filter" data-period="interval">Интервал</li>
    </ul>
    <div class="dateFilters">
        <label for="startDate">с</label>
        <input type="date" class="dateFilter" id="startDate">
        <label for="endDate">по</label>
        <input type="date" class="dateFilter" id="endDate">
    </div>
</div>
<div class="operations" id="operationsList">
    <div class="operation-explan operation-field">
        <span>№ операции</span>
        <span></span>
        <span>Тип</span>
        <span></span>
        <span>Категория</span>
        <span></span>
        <span>Сумма</span>
        <span></span>
        <span>Дата</span>
        <span></span>
        <span>Комментарий</span>
        <span></span>
    </div>
    <!-- операции -->
</div>
<div class="createTurnover">
    <label class="newOperationName">
        <select class="regularInt" id="turnoverType" disabled>
            <option value="income">Доход</option>
            <option value="expense">Расход</option>
        </select>
    </label>
    <span class="validation-hint" id="typeError"></span>

    <label class="newOperationName">
        <select class="regularInt" id="turnoverCategory">
            <option value="" disabled selected>Выберите категорию...</option>
        </select>
    </label>
    <span class="validation-hint" id="categoryError"></span>

    <label class="newOperationName">
        <input type="number" step="0.01" min="0" class="regularInt" placeholder="Сумма в $..." id="turnoverAmount">
    </label>
    <span class="validation-hint" id="amountError"></span>

    <label class="newOperationName">
        <input type="date" class="regularInt" id="turnoverDate">
    </label>
    <span class="validation-hint" id="dateError"></span>

    <label class="newOperationName">
        <input type="text" class="regularInt" placeholder="Комментарий..." id="turnoverComment">
    </label>
    <span class="validation-hint" id="commentError"></span>

    <div class="createTurnover-buttons">
        <button class="greenBtn" id="confirmTurnover">Создать</button>
        <button class="redBtn cancelCreateTurnover">Отмена</button>
    </div>
</div>

<div class="popup-overlay">
    <div class="incomePopup">
        <h3>Вы действительно хотите удалить операцию?</h3>
        <div>
            <button class="greenBtn confirmDelete">Да, удалить</button>
            <button class="redBtn cancelDelete">Не удалять</button>
        </div>
    </div>
</div>