* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #FFF;
    font-family: Roboto-Medium, sans-serif;
}

@font-face {
    font-family: "Roboto-regular";
    src: url("../static/fonts/Roboto-Regular.ttf") ;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("../static/fonts/Roboto-Medium.ttf") ;
}

.main {
    display: flex;
    flex-direction: row;
}

.logpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 397px;
    margin: 0 auto;
}

.logpage-container .logpage-logo {
    border-bottom: none;
}

.sideBar-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    border-right: 1px solid #D9D9D9;
    font-family: Roboto-regular, sans-serif;
}

.logo {
    padding: 40px 70px 20px 50px;
    border-bottom: 1px solid #D9D9D9;
}

.logpage-logo {
    padding: 313px 0 60px 0;
}

.logpage-logo img {
    width: 171px;
    height: 70px;
}

.navMenu {
    margin-bottom: auto;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navButton {
    display: flex;
    align-items: center;
    background-color: transparent;
    /*border: none;*/
    outline: none;
    border-radius: 5px;
    width: 178px;
    height: 40px;
    padding: 12px;
    gap: 10px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    font-size: 14px;
}



.categoriesPageBtn svg {
    margin-left: auto;
}

.navButton-active {
    background-color: #0D6EFD;
    color: #FFFFFF;
}

.userData {
    padding-bottom: 40px;
}

.user {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px 0 0 20px;
    text-align: center;
}

.balance {
    padding: 20px
}

#currentBalance {
    padding-left: 10px;
    color: #0D6EFD;
}

.mainInfo {
    padding: 60px 0 0 100px;
    width: 100%;
}

.mainTitle {
    color: #052C65;
    font-size: 40px;
    line-height: 47px;
}

.mainInfo-filtersStroke {
    margin-top: 60px;
}

.mainInfo-filters {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mainInfo-filtersStroke {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.mainInfo-filter {
    padding: 8px 0;
    width: 98px;
    text-align: center;
    border: 1px solid #6C757D;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    list-style: none;
    color: #6C757D;
    cursor: pointer;
}

.mainInfo-filter-active {
    background-color: #6C757D;
    color: #FFFFFF;
}

.dateFilters {
    display: flex;
    gap: 15px;
    font-size: 16px;
    line-height: 19px;
}

.dateFilter {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-family: Roboto-Medium, sans-serif;
    color: #959595;
    text-decoration: underline;
    width: 39px;
    text-align: center;
}

.greenBtn, .redBtn, .blueBtn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Roboto-Medium, sans-serif;
}

.greenBtn {
    background-color: #198754;
}

.redBtn {
    background-color: #DC3545;
}

.blueBtn {
    background-color: #0D6EFD;
}

.regularInt {
    outline: none;
    background-color: transparent;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    padding: 7px 0 7px 16px;
    margin-bottom: 10px;
    width: 379px;
    font-size: 15px;
    line-height: 22px;
}

.logoutBtn {
    font-family: Roboto-Medium, sans-serif;
    width: 52px;
    display: block;
    padding: 20px 0 0 20px;
    color: #DC3545;
}


.categoriesPageBtn,
.navButton,
.dropdown-content a {
    outline: none;
}

.categoriesPageBtn:focus,
.navButton:focus,
.dropdown-content a:focus {
    outline: none;
}

.dropdown-active {
    border-color: #0d6efd;
}

.dropdown-active .categoriesPageBtn {
    background-color: #0d6efd;
    color: #FFFFFF;
    border: 1px solid #0d6efd;
    border-radius: 2px 2px 0 0;
    outline: none;
}

.dropdown-active .categoriesPageBtn svg path {
    fill: #FFFFFF;
}

.dropdown-content-active {
    position: static;
    opacity: 1;
    pointer-events: all;
    animation: none;
    width: 178px;
    margin-top: -1px;
    border-top: none;
    background: #FFFFFF;
}

.dropdown-content-active a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #0d6efd;
}

.dropdown-content-incomes a:first-child,
.dropdown-content-expenses a:last-child {
    background: #0d6efd;
    color: #FFFFFF;
}

.dropdown-content-expenses a:last-child {
    border-radius: 0 0 5px 5px;
}

.userData {
    padding-bottom: 40px;
}

.userDropdown {
    position: relative;
    border-top: 1px solid #D9D9D9;
}

.userDropdownToggle {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.userDropdown-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50px);
    margin-top: 10px;
    width: 120px;
    background: #FFFFFF;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
}

.userDropdown-open .userDropdown-content {
    opacity: 1;
    pointer-events: all;
    transform: translateX(-50%) translateY(-160px);
}



.userDropdown-content a {
    display: block;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #0d6efd;
}

.userDropdown-content a:hover {
    background: #0d6efd;
    color: #FFFFFF;
    border-radius: 3px;
}